* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d1a05;
}

nav {
  background-color: #ca3c25;
  color: #fff;
  width: 100%;
  height: 50px;
}

.nav-bar {
  width: 990px;
  margin: auto;
}

.nav-bar a {
  color: #fff2f5;
  transition: 0.3s;
}

.nav-bar a:hover {
  font-weight: bold;
  color: #fff;
}

.nav-bar li {
  display: inline-block;
  list-style: none;
  padding: 15px;
}

.container {
  width: 990px;
  margin: auto;
}

.options {
  padding: 15px;
}

.options button {
  background-color: #ca3c25;
  color: #fff;
  border: none;
  padding: 5px;
  width: 33.04%;
  outline: 0;
}

.options button:hover {
  background-color: #e74025;
  cursor: pointer;
}

.img-panda {
  border: 4px rgb(172, 172, 172) solid;
  margin-left: -4px;
  margin: 15px 0px 15px 15px;
  display: inline-block;
  position: relative;
}

.img-panda, img {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.img-panda img {
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.close {
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 3px;
  left: 7px;
}

.close:hover {
  cursor: pointer;
}

#origen-article, #historia-article {
  color: #fff;
  width: 492px;
  display: table-cell;
  text-align: justify;
  padding: 15px;
}

p {
  margin-bottom: 15px;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}
